<img src = "images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Chipoltle</font></h1>
<h2 align=center><font size = 5>Importer et Explorer</font></h2>

### 1. Importer les librairies nécessaires

In [4]:
import pandas as pd
import numpy as np

###  2. Importer le jeu de données depuis [addresse](https://needemand.com/keepsmiling2/index.php/s/9KGweKQ3SDgJNYQ).

### 3. Affecter les données à une variable chipo.

In [5]:
chipo = pd.read_csv("data/chipotle.tsv", sep="\t")

### 4. Afficher les 10 premières entrées.

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###  5. Combien y a t-il d'observations dans le jeu de données ?

In [7]:
# Solution 1
chipo.shape

(4622, 5)

In [16]:
# Solution 2
len(chipo.index)

4622

### 6. Combien y a t-il de colonnes dans le jeu de données ?

In [6]:
len(chipo.columns)

5

### 7. Afficher les noms des colonnes

In [117]:
chipo.columns.tolist()

['order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price',
 'new_item_price']

### 8. Comment le dataFrame est-il indexé ?

In [50]:
type(chipo.index)

pandas.core.indexes.range.RangeIndex

### 9. Quel est l'article le plus commandé?

In [67]:
x = chipo.groupby('item_name').aggregate(sum)
x.index[x.quantity ==  x.quantity.max()]

Index(['Chicken Bowl'], dtype='object', name='item_name')

In [104]:
group = chipo.groupby('item_name')
nb = group.sum()
nb.sort_values(by=['quantity'],ascending=False)[['quantity']].head(1)

              quantity
item_name
Chicken Bowl       761

### 10. Combien ont été commandés?

In [69]:
x['quantity'].max()

761

### 11. Quel a été l'article le plus commandé dans la colonne choice_description ?

In [83]:
group = chipo.groupby('choice_description')
nb = group.sum()
nb.sort_values(by=['quantity'],ascending=False)[['quantity']].head(1)

                    quantity
choice_description
[Diet Coke]              159

###  12. Combien d'articles ont été commandés au total ?

In [88]:
group = chipo.groupby('item_name')
nb = group.sum()
nb.sort_values(by=['quantity'],ascending=False)[['quantity']].sum()

quantity    4972
dtype: int64

###  13. Changer le type du prix en float

####  13.a. CAfficher le type du prix

In [92]:
chipo.dtypes['item_price']

dtype('O')

#### 13.b. Créer une fonction lambda et changer le type du prix

In [107]:
chipo['new_item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$')).astype(float)

####  13.c. Verifier le transtypage éffectué

In [108]:
chipo.dtypes['new_item_price']

dtype('float64')

###  14. Quel est le montant total de la recette pour la période ?

In [109]:
recette = chipo['new_item_price'].sum()
recette

34500.16

###  15. Combien de commandes ont été passées durant la période ?

In [111]:
commande = chipo['order_id'].count()
commande

4622

###  16. Quell est le montant moyen d'une commande ?

In [113]:
# Solution 1

commande_moyenne = chipo['new_item_price'].mean()
commande_moyenne

7.464335785374297

In [114]:
# Solution 2
commande_moy = recette/commande
commande_moy

7.464335785374297

###  17. Combien d'arfticles différents ont été vendus?

In [116]:
len(chipo['item_name'].unique().tolist())

50

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND